.container {

  padding-left: 16px;
  padding-right: 16px;


}


.header-container {
  position: relative;
  display: flex;
  border-bottom: 1px solid #E7E9FC;
  align-items: center;
  justify-content: space-between;
  
  padding-top: 25px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  
}


/* від 0 до 767 */
@media screen and (max-width: 767px) {
  .nav-link {
    display: none;
  }

  .nav-item {
    display: none;
  }

  .address-link {
    display: none;
  }
  .footer >.container {
    max-width: 428px;
  }
    .footer-container {
     
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 72px;
  
  
    }
  
    .footer-logo {
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 16px;
      text-align: center;
  
    }
  
    .footer-text {
      text-align: left;
      margin-top: 17px;
      color: var(--footer-logo-color)
    }
  
    .footer-media-text {
      
      color: #FFFFFF;
    }
  
    .footer-media-list {
      display: flex;
      justify-content: center;
     
    }
  
    
        .footer-field {
          width: 100%;
    
        }
    
        .footer-form {
    
          width: 100%;
    
        }
    
        .footer-input {
          width: 100%;
        }
        
      }


@media screen and (max-width: 387px) {
  .mob-menu-tel-link {
    font-size: 27px;

  }
  .mob-soc-list {
    gap: 30px;}

  .hero-title {
    max-width: 320px;}

}



@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  .team>.container {
    max-width: 294px;
  }
}

.header-nav {
  margin-right: auto;
}



   
@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
screen and (min-resolution: 192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px) {

  .hero {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)) url(../images/mobile-bg@2x.jpg);
  }

}

